body {
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
    backdrop-filter: brightness(0.5);
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat';
    background-size: 365px;
  }
  
  nav {
    display: flex;
      height: 80px;
      align-items: center;
      justify-content: space-between;
      padding: 0 60px;
      font-size:25px;
  }
  nav h2 {
    color:#fff;
  }
  
  ul {
    list-style: none;
      display: flex;
  }
  ul li {
    margin-left: 22px;
  }
  ul li a{
    color: #fff;
    text-decoration: none;
  }
  ul li a:hover{
    color: #5ededd;
  }

  .active {
    color: #5ededd;
  }

  .content {
    margin-top: 275px;
    margin-left: 140px;
    color: white;
    font-size: 28px;
  }